@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle.btn{
    min-width:170px;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand .logo-icon-container{
    width: 40px;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand{
    width: 455px;
}
.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #d6d6d6;
}

